.cli-window {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 5rem;
  background-color: #333232;

  div[name="react-console-emulator"] {
    height: 100%;
    background-color: transparent !important;
  }
  // div[name="react-console-emulator__contect"]{
  //     padding-bottom: 3rem;
  // }
  div[name="react-console-emulator"]::-webkit-scrollbar {
    display: none;
  }
}
