.cards {
  height: 100%;
  overflow: scroll;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 10rem;
}


.card {
  flex-grow: 1;
  flex-basis: 20rem;
  max-width: 30rem;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  background-color: #1c1c1c;
  border-radius: 0.5rem;
  color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  img{
    width: 100%;
    border-radius: 1rem;
  }
  h1{
    font-size: 1.5rem;
    font-weight: 500;
  }
  .description{
    opacity: 0.7;
    line-height: 1.7;
    word-spacing: 0.4rem;
  }
  .tags{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .tag{
        background-color: #3596f1;
        width: fit-content;
        padding-inline: 1.25rem;
        padding-block: 0.75rem;
        border-radius: 0.75rem;
        white-space: nowrap; 
    }
  }
  .urls{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    a{
        color: white;
        font-size: large;
    }
  }
}
