.spotify-wiindow{
    width: 100%;
    height: 100%;
    padding-inline: 1rem;
    padding-block: 1rem;
    padding-bottom: 3rem;

    iframe{
        height: 100%;
        width: 100%;
        border: none;
    }
}