.window {
  background-color: #060606;
  border-radius: 0.75rem;
  overflow: hidden;
  height: 100%;
  color: #eadbdb;

  
  display: flex;              // ✅ ADD
  flex-direction: column;     // ✅ ADD

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  .nav {
    display: flex;
    align-items: center;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    border-bottom: 1px solid #ffffff77;
    gap: 2rem;

    p {
      color: rgb(168, 168, 168);
    }

    .dots {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      .dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #fff;
      }
      .red {
        background-color: #ff605c;
        cursor: default ;
      }
      .yellow {
        background-color: #ffbd44;
      }
      .green {
        background-color: #00ca4e;
      }
    }
  }
  .main-content{
  flex: 1;          // ✅ TAKE REMAINING SPACE
  overflow: hidden;
}

  *::-webkit-scrollbar{
    width: 8px;
  }
  *::-webkit-scrollbar-thumb{
    background-color: rgba(168, 168, 168, 0.4);
        border-radius: 4px;
  }
}