nav{
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding-inline: 0.75rem;
    padding-block: 0.7rem;
    color: white;

    background-color: #b9b8b81b;
    backdrop-filter: blur(5px);


font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;






    .left, .right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
}
