.window {
  height: 500px;
  width: 700px;

  background-color: #060606;
  border-radius: 0.75rem;
  overflow: hidden;

  color: #eadbdb;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  .nav {
    display: flex;
    align-items: center;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    border-bottom: 1px solid #ffffff77;
    gap: 2rem;

    p {
      color: rgb(168, 168, 168);
    }

    .dots {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      .dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #fff;
      }
      .red {
        background-color: #ff605c;
      }
      .yellow {
        background-color: #ffbd44;
      }
      .green {
        background-color: #00ca4e;
      }
    }
  }
}
