* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
}

main {
  width: 100%;
  height: 100%;
  background-image: url("/mac-os-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
*::-webkit-scrollbar{
  display: none;
}


